*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(90deg,#0e3959 0%,#0e3959 30%,#03a9f5 30%,#03a9f5 100%);
}
.contactUs{
    position: relative;
    padding: 10px 100px;
    width: 100%;
}
.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.contactUs .title h2{
    color: #fff;
    font-weight: 500;
}
.contact.form {
    grid-area: form; /* Positions the element with class .contact.form into the grid area named "form" */
  }
  
  .contact.info {
    grid-area: info; /* Positions the element with class .contact.info into the grid area named "info" */
  }
  
  .contact.map {
    grid-area: map; /* Positions the element with class .contact.map into the grid area named "map" */
  }
.contact{
    padding: 40px;
    background-color: #fff;
    box-shadow:0 5px 35px rgba(0,0,0,0.15);
}

.box {
    position: relative; /* Sets the position of the container to relative */
    display: grid; /* Displays the container as a grid */
    grid-template-columns: 2fr 1fr; /* Defines two columns, the first one twice the size of the second */
    grid-template-rows: 5fr 4fr; /* Defines two rows, the first one five times the size of the second */
    grid-template-areas: 
      "form info" /* Defines the layout of the grid areas */
      "form map";
    grid-gap: 20px; /* Sets the gap between grid items to 20px */
    margin-top: 20px; /* Adds a margin of 20px on top of the container */
  }

.contact h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

/* Form */
.formbox{
    position: relative;
    width: 100%;
}
.formbox .row50{
    display: flex;
    gap: 20px;
}
.inputbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formbox .row100 .inputbox{
    width: 100%;
}
.inputbox span{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputbox input{
    padding: 10px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #333;
}
.inputbox textarea{
    padding: 10px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputbox input[type="submit"]{
    background: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.inputbox ::placeholder{
    color: #999;
}
/* .inputbox :hover{
    color: rgb(87, 10, 51);
} */

/* Info */

.info{
    background: #0e3959;
}
.info h3{
    color: #fff;
}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}
.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
} 
.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}
.info .infoBox div a{
    color: #fff;
    text-decoration: none;
}
.sci{
    margin-top: 40px;
    display: flex;
    align-items: left;
    justify-content: left;
}
.sci li{
    list-style: none;
    margin-right: 35px;
}
.sci li a{
    font-size: 2em;
    color: #ccc;
}
.sci li a:hover{
    color: #fff;
}
.map{
 padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
}

/* Responsive Design */
@media(max-width : 991px)
{
    body{
        background: #03a9f5;
    }
    .contactUs{
        padding: 20px;
    }
    .box{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map"
        ;
    }
    .map{
        min-height: 300px;
    }
    .formbox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputbox{
        width: 100%;
    }
    .contact{
        padding: 30px;
    }
    .map{
        min-height: 300px;
        padding: 0;
    }
}